[Unit]
Description=Nodestatus
After=network.target

[Service]
ExecStart=/usr/bin/nodestatus
SyslogIdentifier=nodestatus
PrivateTmp=true
User=status
Group=status

[Install]
WantedBy=multi-user.target
